<div class="main-container">
  <main>
      <div class="article-img">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 25 25" id="close-fs">
				  <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-width="2" transform="translate(1 1)">
					<path d="M0.522727273,0.522727273 L22.4772727,22.4772727"/>
					<path d="M0.522727273,0.522727273 L22.4772727,22.4772727" transform="matrix(-1 0 0 1 23 0)"/>
				  </g>
				</svg>
				<img src="/a/willkommen.jpg" alt="" width="100%">
			</div>
			<script>
				$('.article-img > img').on('click', function(){
					$('.article-img').toggleClass('fullscreen');
				})
				
				$('#close-fs').on('click', function(){
					$('.article-img').toggleClass('fullscreen');
				})
				
			</script>
			<article>
				<h1>Fehlerbehebung</h1>
        <%= form_tag(create_fehlermeldung_path) do |f| %>
          <fieldset>
            <label for="betreff">Betreff</label>
            <input name="betreff", placeholder="Betreff" />
          </fieldset>
          <fieldset>
            <label for="attachment">Anhänge</label>
            <input id="attachment" name="attachment" type="file" />
          </fieldset>
          <fieldset>
            <label for="nachricht">Nachricht</label>
            <textarea name="nachricht"></textarea>
          </fieldset>
          <fieldset>
            <label for="organization">Organisation</label>
            <input name="organization" placeholder="Organisation" />
          </fieldset>
          <fieldset>
            <label for="user_name">Benutzername</label>
            <input name="user_name" placeholder="Benutzername" />
          </fieldset>
          <fieldset>
            <label for="op_system">Verwendetes Betriebssystem</label>
            <select id="op_system" name="op_system">
              <option value="iOS">iOS (iPhone, iPad)</option>
              <option value="Android">Android</option>
              <option value="Web-App">Web-App</option>
            </select>
          </fieldset>
          <fieldset>
            <label for="email">Arbeitsemail</label>
            <input name="email" placeholder="beispiel@yooy.de" />
          </fieldset>
        <% end %>
			</article>
		</main>
</div>
<footer>
		<a href="mailto:support@yooyuu.de" class="btn secondary">Support Email</a>
</footer>