<div class="main-container">
  <main>
			<div class="article-img">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 25 25" id="close-fs">
				  <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-width="2" transform="translate(1 1)">
					<path d="M0.522727273,0.522727273 L22.4772727,22.4772727"/>
					<path d="M0.522727273,0.522727273 L22.4772727,22.4772727" transform="matrix(-1 0 0 1 23 0)"/>
				  </g>
				</svg>
				<img src="/a/willkommen.jpg" alt="" width="100%">
			</div>
			<script>
				$('.article-img > img').on('click', function(){
					$('.article-img').toggleClass('fullscreen');
				})
				
				$('#close-fs').on('click', function(){
					$('.article-img').toggleClass('fullscreen');
				})
				
			</script>
			<article>
				<h1>Fehlerbehebung</h1>
        <h3>Sie haben einen Fehler oder ein Problem in der App oder der Web-App gefunden?</h3> 
        <p>Schicken Sie uns bitte eine Anfrage über das Formular (Button unten) und folgen Sie den nachfolgenden Schritte. Alternativ können Sie uns gerne per Email an <a href="mailto:info@yooyuu.de">info@yooyuu.de</a> kontaktieren.</p>
        <p><strong>Schritt 1:</strong><br/>Falls möglich machen Sie ein kurzes Video oder einen Screenshot von Ihrem Bildschirm. Keine Sorge, wir gehen mit ihren sensiblen Informationen selbstverständlich diskret um. Sollte es Ihnen nicht möglich sein, ein Video oder Screenshot zu machen schildern Sie bitte den genauen Vorgang, der zu dem Fehler geführt hat.</p>
        <p><strong>Schritt 2:</strong><br/>Füllen Sie das Formular (Button unten) aus und hängen Sie das Video bzw. den Screenshot, ein Dokument mit der Fehlerbeschreibung oder eine einfache Beschreibung an. Zusätzlich bitten wir Sie, ihr Organisationskürzel sowie ihren Benutzernamen und das Gerät, mit welchem Sie YooYuu benutzen, anzugeben. Diese Angaben sind rein freiwillig, helfen uns aber das Problem schnellstmöglich zu beheben.</p>
        <p style="margin-bottom: 20px"><strong>Schritt 3:</strong><br/>Falls Sie Hilfestellungen oder ein kurzes Update zu Ihrer Fehlermeldung wünschen geben Sie uns eine Email an unter der wir Sie erreichen können. Vielen Dank!</p>
        <a href="/fehlerbehebung/formular" class="btn">Formular öffnen</a>
			</article>
		</main>
</div>
<footer>
		<a href="mailto:support@yooyuu.de" class="btn secondary hidden-mobile">Support-Email</a>
    <a href="/fehlerbehebung/formular" class="btn">Formular öffnen</a>
</footer>