<div class="main-container">
  <main>
			<div class="article-img">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 25 25" id="close-fs">
				  <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-width="2" transform="translate(1 1)">
					<path d="M0.522727273,0.522727273 L22.4772727,22.4772727"/>
					<path d="M0.522727273,0.522727273 L22.4772727,22.4772727" transform="matrix(-1 0 0 1 23 0)"/>
				  </g>
				</svg>
        <% if @question.video_url != "" %>
          <iframe width="100%" height="100%" src="<%= @question.video_url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <% else %>
				  <img src="<%= @question.image_url %>" alt="" width="100%">
        <% end %>
			</div>
			<script>
				$('.article-img > img').on('click', function(){
					$('.article-img').toggleClass('fullscreen');
				})
				
				$('#close-fs').on('click', function(){
					$('.article-img').toggleClass('fullscreen');
				})
				
			</script>
			<article>
				<h1><%= @question.head %></h1>
				<p><%= @question.body %></p>
			</article>
		</main>
</div>
<footer>
    <a onclick="window.history.back();" class="btn secondary hidden-mobile">Zurück</a>
		<a href="mailto:support@yooyuu.de" class="btn">Support anfragen</a>
</footer>